<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="#">Home</a></li>
                <li class="main-header__item">
                    <a class="active" href="/">Product List</a>
                </li>
                <li class="main-header__item"><a class="active" href="/">Shoping list</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <!-- <p>List of all the products...</p> -->
        <div class="grid">
            <%for (let p of prod){%>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            <%= p.title%>
                        </h1>
                    </header>
                    <!-- <div class="card__image">
                        <img src="<%= p.image%>" alt="">
                    </div> -->
                    <div class="card__image">
                        <img src="<%= p.image%>" alt="">
                    </div>
                    <div class="card__content">
                        <p class="product__description">
                            <%= p.brand%>
                        </p>
                        <h2 class="product__price">
                            $
                            <%= p.price%>
                        </h2>
                        <p class="product__description">
                            <%= p.description%>
                        </p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                        <div class="card__actions">
                            <button type="button" class="btn btn-danger">Edit</button>
                        </div>
                        <div class="card__actions">
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </div>


                </article>
                <%}%>
        </div>
    </main>
</body>

</html>